[submodule "third_party/linux"]
	path = third_party/linux
	url = https://github.com/antmicro/linux.git
	branch = litex-rebase-6
[submodule "third_party/buildroot"]
	path = third_party/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "third_party/opensbi"]
	path = third_party/opensbi
	url = https://github.com/litex-hub/opensbi
	branch = 1.3.1-linux-on-litex-vexriscv
[submodule "third_party/renode"]
	path = third_party/renode
	url = https://github.com/panantoni01/renode
	branch = si7021-update
